<header>
    <div class="banner">
        <span class="banner-text">
            <span>¡Te brindamos las mejores opciones</span>
            <span>para mejorar las condiciones de tu deuda!</span>
        </span>
    </div>

    <div class="logo-header">
        <div class="container">
            <div routerLink="/" class="logo-container">
                <img src="images/logo/Elige_mas_logo.png" alt="Elige Plus" />
            </div>


            <div class="buttons-container">
      <button matButton class="primary" routerLink="/login">INGRESAR</button>
      <button matButton class="accent" routerLink="/signup">REGÍSTRATE</button>
    </div>

            <button class="menu-button" aria-label="Menú">
                ☰
            </button>
        </div>
    </div>

</header>
