header {
  width: 100%;
  height: 120px;
  background: linear-gradient(
    to right,
    #8DD2B5,
    #4466C3
  );

  display: flex;
  justify-content: center;

  & .container {
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    & .banner-text {
      
      font-size: 30px;
      font-weight: 500;
      
      color: black;
      margin: 0;
    }
  }
}
