header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* TOP BANNER */
.banner {
  width: 100%;
  height: 120px;

  background: linear-gradient(to right, #8DD2B5, #4466C3);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 16px;      /* gap to screen edges on mobile */
  text-align: center;
}

.banner-text {
  font-size: 30px;
  font-weight: 500;
  color: black;
  margin: 0;
}

/* LOGO ROW */
.logo-header {
  width: 100%;
  height: 180px;
  background-color: #EFF9F7;

  display: flex;
  justify-content: center;
}

.logo-header .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container img {
  height: 126px;
  width: auto;
  padding-left: 36px;
}

.menu-button {
  background: none;
  color: #103D51;
  border: none;
  font-size: 72px;
  cursor: pointer;
  padding-right: 30px;
}
