<div class="page-container">
  <app-header></app-header>

  <div class="title-container">
    <div class="title">
      <span>Completa tus datos</span>
    </div>
  </div>

  <div class="subtitle-container">
    <span>Necesitamos esta información para calcular tus opciones de refinanciamiento.</span>
  </div>

  <div class="content-wrapper">
    <div class="content-container">
      <form class="basic-info-form" [formGroup]="form" (ngSubmit)="save()">

        <!-- (Opcional) correo si lo agregas luego -->
        <!-- <mat-form-field class="span-2" appearance="outline"> ... </mat-form-field> -->

        <mat-form-field class="span-1" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombres" />

          <mat-error *ngIf="form.controls.nombres.hasError('required') && form.controls.nombres.touched">
            Los nombres son obligatorios.
          </mat-error>

          <mat-error *ngIf="form.controls.nombres.hasError('minlength') && form.controls.nombres.touched">
            Ingresa al menos 2 caracteres.
          </mat-error>

          <mat-error *ngIf="form.controls.nombres.hasError('pattern') && form.controls.nombres.touched">
            Solo letras y espacios.
          </mat-error>

        </mat-form-field>

        <mat-form-field class="span-1" appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="apellidos" />

          <mat-error *ngIf="form.controls.apellidos.hasError('required') && form.controls.apellidos.touched">
            Los apellidos son obligatorios.
          </mat-error>

          <mat-error *ngIf="form.controls.apellidos.hasError('minlength') && form.controls.apellidos.touched">
            Ingresa al menos 2 caracteres.
          </mat-error>

          <mat-error *ngIf="form.controls.apellidos.hasError('pattern') && form.controls.apellidos.touched">
            Solo letras y espacios.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="span-1" appearance="outline">
          <mat-label>Tipo de documento</mat-label>
          <mat-select formControlName="tipoDocumentoId">
            <mat-option [value]="null">-- Selecciona --</mat-option>
            <mat-option *ngFor="let t of tiposDocumento" [value]="t.id">
              {{ t.codigo }} - {{ t.nombre }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="form.controls.tipoDocumentoId.hasError('required') && form.controls.tipoDocumentoId.touched">
            Selecciona un tipo de documento.
          </mat-error>

        </mat-form-field>


        <mat-form-field class="span-1" appearance="outline">
          <mat-label>N° de documento</mat-label>

          <input matInput formControlName="num_documento" />

          <!-- Hint  -->
          <mat-hint *ngIf="selectedTipoDocumento">
            {{ selectedTipoDocumento.codigo }}:
            {{ selectedTipoDocumento.min_len }}
            <ng-container *ngIf="selectedTipoDocumento.min_len !== selectedTipoDocumento.max_len">
              – {{ selectedTipoDocumento.max_len }}
            </ng-container>
            caracteres
          </mat-hint>

          <!-- Errors override hint automatically when invalid -->
          <mat-error *ngIf="form.controls.num_documento.hasError('required') && form.controls.num_documento.touched">
            El número de documento es obligatorio.
          </mat-error>

          <mat-error
            *ngIf="
              (form.controls.num_documento.hasError('minlength') ||
              form.controls.num_documento.hasError('maxlength')) &&
              form.controls.num_documento.touched
            "
          >
            Longitud inválida para el tipo de documento seleccionado.
          </mat-error>

          <mat-error *ngIf="form.controls.num_documento.hasError('pattern') && form.controls.num_documento.touched">
            El formato del documento no es válido.
          </mat-error>
        </mat-form-field>




        <mat-form-field class="span-1" appearance="outline">
          <mat-label>Estado Civil</mat-label>
          <mat-select formControlName="estadoCivilCodigo">
            <mat-option [value]="null">-- Selecciona --</mat-option>
            <mat-option *ngFor="let e of estadosCiviles" [value]="e.codigo">
              {{ e.nombre }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="form.controls.estadoCivilCodigo.hasError('required') && form.controls.estadoCivilCodigo.touched">
            Selecciona tu estado civil.
          </mat-error>

        </mat-form-field>



        <mat-form-field class="span-1" appearance="outline">
          <mat-label>Celular</mat-label>
          <input matInput formControlName="celular" />

          <mat-error *ngIf="form.controls.celular.hasError('required') && form.controls.celular.touched">
            El celular es obligatorio.
          </mat-error>

          <mat-error *ngIf="form.controls.celular.hasError('pattern') && form.controls.celular.touched">
            Ingresa un celular válido (9 dígitos).
          </mat-error>

        </mat-form-field>

        <mat-form-field class="span-1 center-single" appearance="outline">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" />

          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          <mat-error *ngIf="form.controls.fechaNacimiento.hasError('required')">
            La fecha de nacimiento es obligatoria.
          </mat-error>

          <mat-error *ngIf="form.controls.fechaNacimiento.hasError('invalidDate')">
            La fecha ingresada no es válida.
          </mat-error>

          <mat-error *ngIf="form.controls.fechaNacimiento.hasError('futureDate')">
            La fecha no puede ser futura.
          </mat-error>

          <mat-error *ngIf="form.controls.fechaNacimiento.hasError('underAge')">
            Debes ser mayor de 18 años.
          </mat-error>
        </mat-form-field>


        <mat-form-field class="span-2" appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" />

          <mat-error *ngIf="form.controls.direccion.hasError('required') && form.controls.direccion.touched">
            La dirección es obligatoria.
          </mat-error>

          <mat-error *ngIf="form.controls.direccion.hasError('minlength') && form.controls.direccion.touched">
            Ingresa una dirección más completa.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="span-1" appearance="outline">
          <mat-label>Provincia</mat-label>
          <input matInput formControlName="provincia" />

          <mat-error *ngIf="form.controls.provincia.hasError('required') && form.controls.provincia.touched">
            La provincia es obligatoria.
          </mat-error>

          <mat-error *ngIf="form.controls.provincia.hasError('pattern') && form.controls.provincia.touched">
            Solo letras y espacios.
          </mat-error>

        </mat-form-field>

        <mat-form-field class="span-1" appearance="outline">
          <mat-label>Distrito</mat-label>
          <input matInput formControlName="distrito" />

          <mat-error *ngIf="form.controls.distrito.hasError('required') && form.controls.distrito.touched">
            El distrito es obligatorio.
          </mat-error>

          <mat-error *ngIf="form.controls.distrito.hasError('pattern') && form.controls.distrito.touched">
            Solo letras y espacios.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="span-1 center-single" appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="departamentoCode">
            <mat-option *ngFor="let d of departamentos" [value]="d.code">{{ d.nombre }}</mat-option>
          </mat-select>

          <mat-error *ngIf="form.controls.departamentoCode.hasError('required') && form.controls.departamentoCode.touched">
            Selecciona un departamento.
          </mat-error>

        </mat-form-field>

        <div class="privacy-text span-2">
            <span>
                Al enviar el formulario usted acepta compartir sus datos personales.
                Nuestra empresa no compartirá dichos datos y sólo los usará con fines investigativos.
                Para mayor información puede consultar nuestra
                <a
                    class="privacy-link"
                    href="/privacy-policy"
                    target="_blank"
                    rel="noopener noreferrer"
                    >
                    Política de Privacidad</a>.
            </span>
        </div>


        <button class="span-2 submit-button" mat-flat-button type="submit" [disabled]="form.invalid">
          REGISTRARME
        </button>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</div>
