<footer>
  <div class="logo-container">
    <img src="images/logo/Elige_mas_logo.png" alt="Elige Plus" />
  </div>

  <div class="links-container">
    <a routerLink="/">Quiénes Somos</a>
    <a routerLink="/">Contacto</a>
    <a routerLink="/">Nuestro Propósito</a>
    <a routerLink="/">Preguntas Frecuentes</a>
  </div>

  <div class="social-media-container">
    <a href="https://facebook.com/mitocode" target="_blank">
      <img src="svg/facebook.svg" alt="facebook logo" />
    </a>
    <a href="https://instagram.com/mitocode" target="_blank">
      <img src="svg/instagram.svg" alt="instagram logo" />
    </a>
    <a href="https://twitter.com/mitocode" target="_blank">
      <img src="svg/twitter.svg" alt="twitter logo" />
    </a>
  </div>

  <div class="derechos-container">
    <span>Todos los derechos reservados</span>
  </div>
  
  
</footer>
