<footer>
  <div routerLink="/" class="logo-container">
    <img src="images/logo/Elige_mas_logo.png" alt="Elige Plus" />
  </div>

  <div class="links-container">
    <a routerLink="/quienes-somos">Quiénes Somos</a>
    <a routerLink="/contacto">Contacto</a>
    <a routerLink="/proposito">Nuestro Propósito</a>
    <a routerLink="/preguntas-frecuentes">Preguntas Frecuentes</a>
  </div>

  <div class="social-media-container">
    <a href="/" target="_blank">
      <img src="svg/facebook-square-icon.svg" alt="facebook logo" />
    </a>
    <a href="/" target="_blank">
      <img src="svg/ig-instagram-icon.svg" alt="instagram logo" />
    </a>
    <a href="/" target="_blank">
      <img src="svg/x-logo.svg" alt="x logo" />
    </a>
  </div>

  <div class="derechos-container">
    <span>Todos los derechos reservados</span>
  </div>
  
  
</footer>
