html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Inter' ,Arial, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Backdrop oscuro */
.elige-modal-backdrop {
  background: rgba(0,0,0,0.55) !important;
  backdrop-filter: blur(2px);
}

/* Panel del modal */
.elige-modal-panel .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 18px;
}

.elige-modal-panel .mdc-dialog__surface {
  border-radius: 18px !important;
  box-shadow: 0 18px 60px rgba(0,0,0,0.35) !important;
}
