.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .hero {
            position: relative;
            width: 100%;
            height: 520px;
            overflow: hidden;

            & .hero-image {
                position: absolute;
                inset: 0;
                /* top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -1; */

                &   img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            

            & .hero-overlay {
                position: absolute;
                inset: 0;
                background: linear-gradient(
                    to right,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0.4)
                );
                /* background: rgba(0, 0, 0, 0.4);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                text-align: center;
                padding: 0 20px; */
            }

            & .hero-content {
                position: relative;
                z-index: 2;

                max-width: 1200px;
                height: 100%;
                margin: 0 auto;
                padding: 0 48px;
                
                display: flex;
                flex-direction: column;
                justify-content: center;

                align-items: flex-end;
                text-align: right;

                color: white;

                & h1 {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 1.2;
                    margin-bottom: 16px;
                    max-width: 520px;
                }

                & h2 {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.4;
                    margin-bottom: 32px;
                    max-width: 520px;
                }
            }

            & .action-button-container {
                & .action-button {
                    background-color: #EFF9F7;
                    color: #103D51;
                    padding: 12px 24px;
                    font-size: 18px;
                    font-weight: 600;

                    border: 2px solid #103D51;
                    border-radius: 16px;

                    cursor: pointer;
                    text-decoration: none;
                    display: inline-block;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #8DD2B5;
                    }
                }
            }

        } /* .hero */

        & .floor2-container {
            width: 100%;
            max-width: 800px;
            padding: 80px 24px;

            & ol {
                list-style: none;
                padding: 0;
                margin: 0;

                display: flex;
                flex-direction: column;
                gap: 48px;

                counter-reset: step;
            }

            & li > h3,
            & li > p {
            display: block;
            }

            &  li > div {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            & li {
                display: flex;
                align-items: flex-start;
                gap: 24px;
            }

            & li::before {
                content: counter(step);
                counter-increment: step;

                font-size: 64px;
                font-weight: 700;
                line-height: 1;

                color: #ADEBB3;
                opacity: 0.9;
            }

            & h3 {
                margin: 0 0 8px 0;
                font-size: 24px;
                font-weight: 600;
                color: #7FD3C3;
            }

            & p {
                margin: 0;
                font-size: 16px;
                line-height: 1.5;
                color: #A3E4D7;
            }

            @media (max-width: 768px) {
                .floor2-container li {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }

        } /* .floor2-container */
        


    } /* .content-container */
}